.mkcColorNavbar {
   background-color:#434c6d;
}

/*.mkcColorHeader {
   background-color:#434c6d;
}*/

.mkcMenu{
    background-color:#4e587e;
}

/*.mkcMenuItem{
    color: #fefefe;
}

.mkcMenuItemHover {
    color: #ffc107;
}*/

/*.mkcColorNews {
   border-color:#434c6d;
}*/

.mkcColorFooter {
   background-color:#3e3e3e;
}

.mkcIndexCarrousel {
   background-color:#8e7a89;
}

.mkcLetraGris {
    color:dimgrey;
}

.mkcLetraGrisClaro {
    color:darkgrey;
}

.mkcLetraNaranja {
    color:#ffc107;
}

body {
    background-color:#fefefe;
}

.btn-link {
  font-weight: 400;
  color: #fefefe;
  background-color: transparent;
}

.btn-link:hover {
  color: #ffc107;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none;
  border-color: transparent;
  box-shadow: none;
}