.mkcColorNavbar {
   background-color:#434c6d;
}

.mkcGridview {
    width: 100%; 
    word-wrap:break-word;
    /*table-layout: fixed;*/
}

.mkcMenu{
    background-color:#4e587e;
}

.mkcLetraGris {
    color:dimgrey;
}

.mkcLetraGrisClaro {
    color:darkgrey;
}

.mkcLetraNaranja {
    color:#ffc107;
}


.mkcCheckoutEnd {
    background-color:#909abb;
    border-color: #909abb;
    color: #ffffff;
}

.btn-primary {
    background-color:#909abb;
    border-color: #909abb;
}

.btn-warning {
    background-color:#ffd24d;
    border-color: #ffd24d;
}

/*.mkcColorHeader {
   background-color:#434c6d;
}*/



html, body {
    background-color:#fefefe;
    height: 100%;
    margin: 0px;
}

.btn-link {
  font-weight: 400;
  color: #fefefe;
  background-color: transparent;
}

.btn-link:hover {
  color: #ffc107;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none;
  border-color: transparent;
  box-shadow: none;
}

.wrapper {
  min-height: 100%;
  /* This is the same as the height of the footer  */
  margin-bottom: -56px; 
  
}

/* The height of the footer and push must be the same */
.footer,
.push {
  height: 56px;
}
