<h1><span style="color: #3366ff;">Ubiquicity</span></h1>
<p><span style="color: #999999;"><em>Estamos donde quer&eacute;s estar</em></span></p>
<h2><span style="color: #000000;">Factura #$$invoice</span></h2>
<p><span style="color: #000000;">Fecha: @date</span></p>
<p>&nbsp;</p>
<table style="width: 628px; margin-left: auto; margin-right: auto; float: left;" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="width: 258px;"><strong>Nombre</strong></td>
            <td style="width: 359px;"><strong>Direcci&oacute;n</strong></td>
        </tr>
        <tr>
            <td style="width: 258px;">$$user&nbsp;&nbsp;</td>
            <td style="width: 359px;">$$address</td>
        </tr>
        <tr>
            <td style="width: 258px;">&nbsp;</td>
            <td style="width: 359px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 258px;"><strong>Contacto</strong></td>
            <td style="width: 359px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 258px;">$$mail</td>
            <td style="width: 359px;">&nbsp;</td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table style="width: 631.4px;">
    <tbody>
        <tr>
            <td style="width: 491px;">&nbsp;<strong>Producto</strong></td>
            <td style="width: 132.4px;"><strong>Precio</strong></td>
        </tr>
        <tr>
            <td style="width: 491px;">&nbsp;</td>
            <td style="width: 132.4px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 491px;"><strong>Total</strong></td>
            <td style="width: 132.4px;">&nbsp;</td>
        </tr>
    </tbody>
</table>